//    File name: About.pug
//	  Author's name: Chao Liu and Dong Wu
//	  Description: View for the About page
include partials/header

h1 About Us
//div class to create a container for the text
.jumbotron
    .container
        p White 55 open is a trending card play game on Android and Apple application market.

include partials/footer