//    File name: Contact.pug
//	  Author's name: Chao Liu and Dong Wu
//	  Description: View for the Contact page
include partials/header

h1 Contact Us
//div class to create a container for the text
.jumbotron
    .container
    p Customer Hotline:
    p (ON) 1.888.888.8888
    p Monday to Friday 9:00am &ndash; 5:30pm
    p Email us: customerservice@white55open.com


    h3 Contact me on customerservice@white55open.com:
    form(action='MAILTO:customerservice@white55open.com' method='post' enctype='text/plain')
        | Customer Name:
        br
        input(type='text' name='Customer Name:' value='')
        br
        | Customer E-mail:
        br
        input(type='text' name='Customer E-mail:' value='')
        br
        | Comment:
        br
        input(type='text' name='Comment:' value='' size='50')
        br
        br
        input(type='submit' value='Send')


include partials/footer