//    File name: Contact.pug
//	  Author's name: Chao Liu and Dong Wu
//	  Description: View for the Contact page
include partials/header

h1 Contact Us
//div class to create a container for the text
.jumbotron
    .container
    p Customer Hotline:
    p (ON) 1.888.888.8888
    p Monday to Friday 9:00am &ndash; 5:30pm
    p Support.service@xxxx.com

include partials/footer