//    File name: Home.pug
//	  Author's name: Chao Liu and Dong Wu
//	  Description: View for the Home page
include partials/header

//image file and give heading
.page-heading
  h1 White 55 open
    .image
      img.media(src="images/card.jpg" alt="Company Icon")

//div class to create a container for the text
.jumbotron
  .container
  p.col-sm-4 White 55 open is a mobile game that represents traditional Chinese card game. Player will playing as farmer or landlord to play the game. Every player has 17 cards on hand at first and landlord will have 20 cards after the vote of landlord. Farmer needs to win landlord base on the game rules and same for the landlord.

include partials/footer
