//    File name: Projects.pug
//	  Author's name: Chao Liu and Dong Wu
//	  Description: View for the Projects page
include partials/header

h1 Projects
//div class to create a container for the text
.jumbotron
    .container
        h4 White 55 open is our only accomplished game. We are going to make more card games on mobile or PC. We will meet again.
        p Project main page
        .image
            img.media(src="images/project2.jpeg" alt="main page")
        p Project game page
        .image
            img.media(src="images/project1.jpeg" alt="game")




include partials/footer