//    File name: Services.pug
//	  Author's name: Chao Liu and Dong Wu
//	  Description: View for the Services page
include partials/header

h1 Services
//div class to create a container for the text
.jumbotron
    .container
        p Our customer service is 24 hours. You can access us anytime with any contact method.
        p We will offer you best services which includes:
        p Refund
        p Password forgot
        p Q&A
        p Username and email change

include partials/footer